.item-title-text,
.item-price-text {
  color: #ed6c02;
}

.item-price-text {
  margin-top: 0;
}

.image-container {
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 55%;
  max-height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
